<section>
  <div>
    @if (hero) {
      <img
      nz-image
      width="200px"
      height="300px"
      alt=""
    />
    } @else {
      <img
      nz-image
      width="200px"
      height="200px"
      nzSrc="assets/heroes/marvel-logo.jpg"
      alt=""
    />
    }

  </div>
  <div>

  </div>
</section>

  <div class="c-hero-form">
    <div class="c-hero-form__buttons">
      <button (click)="cancel()">
        {{ "close" | titlecase }}
      </button>
    </div>
    <div class="c-hero-form__buttons">
      @if (hero) {
      <button (click)="update()">
        {{ "update" | titlecase }}
      </button>
      } @else {
      <button (click)="create()">
        {{ "save" | titlecase }}
      </button>
      }
    </div>
  </div>

