
@if (isLoading) {
  <mat-progress-spinner mode="indeterminate"></mat-progress-spinner>
}
<section class="c-heroes">
  <section class="c-heroes__filter">
    <div class="c-heroes__input">
      <heroes-search-page></heroes-search-page>
    </div>
    <div class="c-heroes__div-button">
      <button class="c-heroes__button" mat-raised-button (click)="openModal()">Create Hero</button>
    </div>
  </section>
  <section>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="heroes" matSort>
    
        <ng-container matColumnDef="superhero">
          <th mat-header-cell *matHeaderCellDef> {{"superhero" | titlecase}} </th>
          <td mat-cell *matCellDef="let element"> {{element.superhero | titlecase}} </td>
        </ng-container>
    
        <ng-container matColumnDef="publisher">
          <th mat-header-cell *matHeaderCellDef> {{"publisher" | titlecase}} </th>
          <td mat-cell *matCellDef="let element"> {{element.publisher}} </td>
        </ng-container>
    
        <ng-container matColumnDef="alter_ego">
          <th mat-header-cell *matHeaderCellDef> {{"alter ego" | titlecase}} </th>
          <td mat-cell *matCellDef="let element"> {{element.alter_ego}} </td>
        </ng-container>
    
        <ng-container matColumnDef="characters">
          <th mat-header-cell *matHeaderCellDef> {{"characters" | titlecase}} </th>
          <td mat-cell *matCellDef="let element"> {{element.characters}} </td>
        </ng-container>

        <ng-container matColumnDef="actions">
          <th mat-header-cell *matHeaderCellDef> {{"actions" | titlecase}} </th>
          <td mat-cell *matCellDef="let element"> 
            <button mat-button (click)="openModal(element)">Edit</button> | <button mat-button color="warn" (click)="deleteHero(element.id)">Delete</button>
          </td>
        </ng-container>
    


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator [pageSizeOptions]="[10, 15, 20]"
                     showFirstLastButtons
                     aria-label="Select page of superheroes">
      </mat-paginator>
    </div>
    
  </section>
</section>

