.c-heroes {
  &__filter {
    margin-bottom: 24px;
    display: flex;
    width: 100%;
  }
  &__input {
    width: 140vh;
    padding-right: 20px;
  }
  &__div-button {
    margin: 10px
  }
  &__button {
    width: 142px;
    padding: 10px 20px;
  }
}

.table {
  width: 100%;
}
